{{!-- <h1>MongoScraper</h1>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav> --}}

<div class="container center">

  <h1 id="header">ESPN News</h1>
  
  <button id="scrape" class="btn">Scrape</button>

  {{#each articles}}

  <div class="row" data-id={{this._id}}>
    <div class="col s8 offset-s2">
      <div id="custCard" class="card">
        <div class="card-content white-text">
          <span class="card-title">{{this.title}}</span>
          <ul data-id="{{this._id}}" class="comment-list">
              {{!-- {{#each comment}}
                <li>{{this.title}}</li>
              {{/each}} --}}
          </ul>
        </div>
        <div class="card-action">
          <a href="https://espn.com/{{this.link}}" target="_blank">View</a>
          <a onclick="deleteArticle('{{this._id}}')">Delete</a>
          <a href="#{{this._id}}" class="modal-trigger">Add Comment</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Structure -->
  <div id="{{this._id}}" class="modal">
    <div class="modal-content">
      <h4>Add Comment</h4>
      <input type="text" class="inputColor" id="addcomment-{{this._id}}"/>
    </div>
    <div id="modalFooterColor" class="modal-footer">
      <a href="#!" id="close" class="modal-close waves-effect waves-green btn-flat">Close</a>
      <button onclick="saveComment('{{this._id}}')" id="save" class="modal-close waves-effect waves-green btn-flat">Save</button>
    </div>
  </div>  

  {{/each}}

</div>


